<html ng-app="helloWorld">
<head>
	<meta charset="utf-8"/>
	<title>Hello World</title>
	<script src="angular.js"></script>
	<script>
		angular.module("helloWorld", []);
		angular.module("helloWorld").controller("helloWorldCtrl", function ($scope) {
			$scope.message = "Hello World!";
		});
	</script>
<head>
<body>
	<div ng-controller="helloWorldCtrl">
	{{message}}
	</div>
<body>
</html>
